main{
	height: 100%;
	max-width: 100%;
	position: relative;
	padding: 0;
}

.login-block{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 250px;
	background: #ffffff;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.login-block .login-header{
	height: 40px;
	text-align: center;
}

.login-block .login-form{

}