main{
	height: 100%;
	max-width: 100%;
	padding: 0;
}

.login-block{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 570px;
	background: #ffffff;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.login-block .login-header{
	line-height: 70px;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	vertical-align: middle;
}

.login-block .login-form{
	background: #ecebe9 url('../images/product-tile-background.png');
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: right;
	padding: 0 60px; 
}

.password-block,
.username-block{
	text-align: left;
	padding-top: 30px;
}

.input-title{
	font-size: 18px;
	line-height: 24px;
}

.username-input,
.password-input{
	height: 40px;
	width: calc(100% - 55px);
	border-radius: 5px;
	border: none;
	outline: 0;
	font-size: 24px;
    padding: 0 45px 0 10px;
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 20px 20px;
}

.username-input:focus,
.password-input:focus{
	border: 3px solid rgba(41, 136, 121, 0.4);
}

.username-input{
    background-image: url(../images/username-icon.png);
}

.password-input{
    background-image: url(../images/password-icon.png);
}

.username-input::clear,
.password-input::clear {
    display: none;
}

.username-input::placeholder,
.password-input::placeholder {
	font-style: italic;
	font-family: PT Sans;
}

.login-btn{
	margin: 25px 0 30px 0;
}