main{
	height: 100%;
	max-width: 100%;
	position: relative;
	padding: 0;
}

.login-block{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 570px;
	height: 400px;
	background: #ffffff;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.login-block .login-header{
	line-height: 70px;
	text-align: center;
	font-size: 22px;
	font-family: PT Sans;
	font-weight: bold;
	vertical-align: middle;
}

.login-block .login-form{
	background: #ecebe9 url('../images/product-tile-background.png');
	height: 370px;
	border-radius: 10px;
}

.password-block,
.username-block{
	margin: 0 auto;
}