html{
	height: 100%;
}

body{
	background: url('../images/background.png');
	margin: 0;
  	position: relative;
  	height: 100%;
	font-family: PT Sans;
}

input[type=text]::-ms-clear{
	display: none; width : 0; height: 0;
}

input[type=text]::-ms-reveal{
	display: none; width : 0; height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration{
	display: none;
}

p{
	margin: 0;
}

header, footer{
	height: 50px;
	background-image: linear-gradient(to top, rgba(40, 133, 117, 0.13) 0%, rgba(255, 255, 255, 0.13) 100%);
	background-color: rgb(40, 133, 117);
	line-height: 50px;
}

footer{
	width: 100%;
	text-align: center;
}

main{
	padding: 0 30px 50px;
	text-align: left;
	margin: 0 auto;
	max-width: 1140px;
	background: rgba(0,0,0, 0.4);
	min-height: calc(100% - 150px);
}

.header-menu{
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
	text-align: right;
}

.bag-icon{
	content: url('../images/bag-icon.png');
	float: left;
	margin: 13px 30px;
    cursor: pointer;
}

.logout-icon{
	content: url('../images/logout-icon.png');
	vertical-align: middle;
	margin: 0 30px 0 10px;
    cursor: pointer;
}

.user-greet, footer{
	color: #FFFFFF;
	font-size: 15px;
}

.products-list{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.product-tile{
  	vertical-align: top;
	height: 534px;
	background: #fdfdfd url('../images/product-tile-background.png');
	text-align: right;
	font-size: 0;
	margin-bottom: 30px;
	width: calc(33.33% - 20px);
}

.product-img{
	width: 100%;
}

.product-details{
	margin: 15px 20px;
	height: 208px;
	text-align: center;
}

.product-description{
	height: 135px;
	overflow: auto;
	font-size: 14px;
	text-align: left;
	margin: 15px 0;
}

.product-name{
	max-height: 45px;
	overflow: auto;
	font-size: 18px;
	font-weight: bold;
	margin: 15px 0;
}

.product-price{
	font-size: 24px;
	font-weight: bold;
	float: left;
	margin: 3px 0 0 20px;
}

.product-price .currency{
	color: #016501;
}

.product-tile .primary-btn{
	margin: 0 20px 20px 0;
}

.filters-container{
	text-align: right;
	padding: 20px 0;
	position: relative;
}

.filters-container .primary-button{
	vertical-align: top;
}

.searchbar{
	height: 35px;
	width: 230px;
	border-radius: 5px;
	border: none;
	outline: 0;
	vertical-align: top;
	padding: 0 40px 0 15px;
	font-size: 14px;
	margin:0 -20px 0 15px;
}

.searchbar::clear {
    display: none;
}

.searchbar::placeholder{
	font-style: italic;
	font-family: PT Sans;
}

.search-icon{
	content: url('../images/search-icon.png');
    cursor: pointer;
}

.search-button{
    position: relative;
    right: 15px;
    background: none;
    border: none;
    padding: 0;
    vertical-align: middle;
}

hr{
	margin: 0;
}

@media (max-width: 1000px) {
	main{
		max-width: 780px;
	}

	.header-menu{
		max-width: 840px;
	}
	
	.product-tile{
		width: calc(50% - 15px);
	}

	.product-details{
		height: 180px;
	}

	.product-description{
		max-height: 100px;
	}

	.product-name{
		height: 40px;
	}
}

@media (max-width: 800px) {
	main{
		max-width: 480px;
	}

	.header-menu{
		max-width: 540px;
	}
	
	.product-tile{
		width: 100%;
		display: block;
		height: auto;
	}

	.filters-btn{
		float: left;
	}
}

.filters-btn{
	position: relative;
}

.filters-btn:hover{
	background-image: linear-gradient(to top, #3fc6cc 0%, #278473 100%);
}

.filters{
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
}

.tooltip-triangle{
    position: absolute;
    content: url(../images/tooltip-triangle.png);
    top: 0;
    right: 300px;
}


.filters-btn + .filters-box {
    visibility: visible;
    text-align: center;
    position: absolute;
    z-index: 1;
    opacity: 1;
    right: 0;
    top: 55px;
    transition: opacity 1s;
    padding-top: 10px;
    width: 100%;
    max-width: 790px;
}

.filters-btn:hover + .filters-box,
.filters-box:hover {
    visibility: visible;
    opacity: 1;
}

.product-params-filter{
	width: 100%;
	height: 56px;
	border-bottom: 1px solid #2e8879;
	font-size: 0;
}

.product-params-filter .filter{
	display: inline-block;
}

.availability-filter{
	width: 25%;
}

.gender-filter{
	width: 40%;
}

.category-filter{
	width: 35%;
}

.filter{
	font-size: 14px;
	font-family: PTSans;
	text-align: left;
	vertical-align: top;
}

.filter-title{
	font-size: 12px;
	color: #000000;
	font-family: PTSans;
	display: inline-block;
}	

.availability-filter .filter-title,
.gender-filter .filter-title{
	padding-bottom: 5px;
}

.radio + label{
	padding-right: 10px;
}

.select-list{
    width: 100%;
    height: 35px;
    background: #2e8879;
    color: #ffffff;
    font-size: 14px;
    font-family: PT Sans;
    outline: 0;-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    padding: 0 13px;
    text-align: center;
    background-image: url(../images/white-select-link.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.product-price-filter{
	padding-top: 17px;
}

.product-range-filters{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
    align-items: center;
	width: 100%;
	height: 64px;
}

.product-range-filters .filter{
	margin-right: 19px;
}

.rating-filter{
	width: 25%;
}

.price-filter{
	width: 65%;
}

.slider{
	height: 2px !important;
	border: none;
	background: #909090;
    margin: 10px 0;
}

.noUi-handle.noUi-handle-lower:before,
.noUi-handle.noUi-handle-lower:after,
.noUi-handle.noUi-handle-upper:before,
.noUi-handle.noUi-handle-upper:after{
	display: none;
}

.slider .noUi-handle.noUi-handle-lower,
.slider .noUi-handle.noUi-handle-upper{
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background: #2e8879;
	box-shadow: none;;
	outline: 0;
	top: -8px;
	left: 0;
	border: none;
}

.slider .noUi-handle.noUi-handle-lower .noUi-tooltip,
.slider .noUi-handle.noUi-handle-upper .noUi-tooltip{
	top: 19px;
    background: none;
    border: none;
}
